<table>
  <thead>
    <th>Title</th>
    <th>Description</th>
    <th>Due Date</th>
  </thead>
  <tbody>
    <hr>
    <div class="class-assignments">
      {{#each assignments}}
        <tr>{{> assignment}}</tr>
      {{/each}}
    </div>
  </tbody>
</table>
