<table>
  <thead>
    <th>Students</th>
  </thead>
  <tbody>
    <hr>
    <div class="students-container">
      {{#each students}}
        <tr>{{> student}}</tr>
      {{/each}}
    </div>
  </tbody>
  </table
