<div class="students-row">
  <td><a href="#" class="hb-show-student" data-id="{{id}}">{{name}}</a></td>
  <td><button type="submit" class="btn btn-default hb-update-student" data-control="hb-edit-btn" data-target="#updateStudentModal" data-id="{{id}}" data-toggle="modal">Edit</button></td>
  <td><button type="submit" class="btn btn-default hb-delete-student" data-control="hb-delete-btn" data-target="#deleteStudent" data-id="{{id}}" data-toggle="modal">Delete</button></td>
</div>
